<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".props" #>
<Project>
  <PropertyGroup>
    <AssemblyVersion>5.0.<#= this.BuildNumber #>.<#= this.RevisionNumber #></AssemblyVersion>
    <FileVersion>5.0.<#= this.BuildNumber #>.<#= this.RevisionNumber #></FileVersion>
    <Version>5.0.<#= this.BuildNumber #></Version>
  </PropertyGroup>
</Project>
<#+
    int BuildNumber = (int)Math.Floor((DateTime.UtcNow - new DateTime(2000,1,1)).TotalDays);
    int RevisionNumber = (int)((DateTime.UtcNow - DateTime.UtcNow.Date).TotalSeconds / 2);
#>
